/* LOGO */

.logo{
    line-height: 1;
}

@media( min-width: 1200px){
.logo{
    width: 280px;
}
}

.logo img{
    max-height: 26px;
    margin-right: 6px;
}

.logospan{
    font-size: 26px;
    font-weight: 700;
    color: #899bbd;
    font-family: 'Nunito', sans-serif;
   
}

